.added-movies {
  border-top: 2px solid dodgerblue;

  h1:first-child {
    text-align: center;
    text-transform: uppercase;
    color: darkgoldenrod;
    font-size: 2rem;
  }

  .forms-cards {
    display: flex;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 800px){
  .added-movies {
    .forms-cards {
      flex-direction: column;
      align-items: center;
    }
  }
}


