.character {
  display: block;
  text-align: center;
  color: #444;
  padding: 10px;
  border: 1px solid dodgerblue;
  border-radius: 25px;
  width: 170px;
  height: 300px;
  box-shadow: 0 0 5px 1px dodgerblue;
  transition: .2s;

  &:hover, &.active {
    color: #ddd;
    background-color: dodgerblue;
    cursor: pointer;
    transition: .2s;
  }

  .title {
    margin: 0;
    padding: 0;
    height: 50px;
  }

  .photo {
    padding: 10px 0 0;

    img {
      border-radius: 5px;
      width: 160px;
      height: 230px;
    }
  }

  .info {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 230px;
    .field {
      text-align: left;
      padding: 5px;

      h4, p {
        display: inline;
      }

      h4 {
        text-decoration: underline;
      }
    }
  }
}
