.movie {
  text-align: left;
  color: #444;
  padding: 5px 10px;
  border: 1px solid crimson;
  box-shadow: 0 0 5px 1px crimson;
  transition: .2s;
  &:hover {
    color: #ddd;
    background-color: crimson;
    cursor: pointer;
    transition: .2s;
  }

  .title {
    margin: 0;
    padding: 0;
  }
}
