.characters-main-title {
  color: crimson;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.sort-title {
  color: #fff;
}

.cards-list {
  margin: 60px auto;
}

.characters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 50px;
  gap: 20px;
}

.limit {
  height: 28px;
  width: 200px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 4px -1px #aaa;
  border-radius: 5px;
  padding: 2px 6px;
  transition: .5s;

  &:focus {
    border: 2px solid crimson;
    box-shadow: 2px 2px 4px -1px crimson;
    outline: 0;
  }

  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;

  div {
    color: white;
    padding: 5px;
    font-size: 2rem;
    div.link {
      &.active {
        pointer-events: none;
        color: crimson;
        font-weight: 700;
      }

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.sort-field {
  color: crimson;
  padding: 0 20px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &.active {
    position: relative;
    font-weight: 700;
    text-decoration: underline;
    &:after {
      position: absolute;
      right: 5px;
    }
  }
  &.desc:after {
    content: "↑";
  }
  &.asc:after {
    content: "↓";
  }
}
