.header {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid darkcyan;
  box-shadow: 0 -2px 15px 4px darkcyan;
  font-size: calc(4px + 2vmin);
  color: white;
  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    color: crimson;
  }
}

@media screen and (max-width: 767px) {
  .header {
    font-size: 1rem;
  }
}
