.overlay {
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(100, 100, 100, 0.2);
  backdrop-filter: blur(8px);
  z-index: 0;
  cursor: pointer;
  transition: 0.1s;

  &.show {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transition: 0.1s;
  }
}
