.movie-static {
  width: 200px;
  height: 360px;
  text-align: left;
  padding-left: 10px;
  border: 1px solid #222;
  box-shadow: 0 0 5px 1px #000;

  .title {
    font-size: 16px;
    text-align: center;
    height: 70px;
  }

  .img {
    text-align: center;

    img {
      border-radius: 50%;
    }
  }

  .budget {
    margin-top: 10px;

    span {
      font-size: 12px;
    }
  }

  .popularity {
    span {
      font-size: 12px;
    }
  }

  .tagline {
    font-size: 14px;
  }
}

