.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: url('./assets/img/hogwards4.jpeg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}
